*.class
.cache/

# SBT
lib_managed
.history
.lib/
dist/*
lib_managed/
src_managed/
target
**/target/
lib_managed/
src_managed/
project/project
project/boot/
project/plugins/project/

# Mac
.DS_Store

# Log files
/logs
*.log
checkpoint

# IntelliJ
.idea
.idea_modules
*.iml

# Worksheets (Eclipse or IntelliJ)
*.sc

# Eclipse
.cache*
.classpath
.project
.scala_dependencies
.settings
.target
.worksheet